.mat-card {
    margin: 20px;
    height: 253px;
    width: 391px;
    z-index: 1;
    border-radius: 25px;
    opacity: 1;
    &:hover{
        cursor: pointer;
        background: #9F62C9 !important;
        color: white;
        opacity: 0.7;
    }
}

.mat-card-content{
    font-weight: 200;
    margin-left: 30px;
}

.card1{
    margin-top: -101px;
    margin-left: 161px;
    color: rgba(0, 0, 0, 0.5);
}
.card2{

    margin-left: 161px;
    color: rgba(0, 0, 0, 0.5);
}
.card3{

    margin-left: 161px;
    color: rgba(0, 0, 0, 0.5);
}
.card4{
    margin-top: -7px;
    margin-left: 25px;
    color: rgba(0, 0, 0, 0.5);
    
}
.card5{

    margin-left: 25px;
    color: rgba(0, 0, 0, 0.5);
}

img{
    padding-bottom: 20px;
}

.mat-card-title{
    padding-bottom: 10px;
}

.bottom-content{
    z-index: 1;
    right: -90px;
    width: 275px;
}
.bottom-content-title {
    font-size: xx-large;
    padding: 20px 0px 20px 0px;
}

.bottom-content-desc {
    font-size: medium;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0px 20px 0px;
}


.main{
    display: flex;
}