<div class="main">
  <span>
    <mat-card class="card1">
      <mat-card-header>
        <img src="/assets/Get Paid Instantly.png">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Quick cash disbursement </mat-card-title>
        <div>Get terms loans that your business needs within 72 hrs</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card2">
      <mat-card-header>
        <img src="/assets/Low interest rate.png">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Low-interest rate </mat-card-title>
        <div>Achieve your financial goals with an amazing interest rate starting at 13% per annum</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card3">
      <mat-card-header>
        <img src="/assets/Secure Payments.png">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Zero Paperwork</mat-card-title>
        <div>Get started instantly by submitting only your basic details & bank statements</div>
      </mat-card-content>
    </mat-card>
  </span>
  <span>
    <mat-card class="card4">
      <mat-card-header>
        <img src="/assets/freelancer_feature_icon_6@1.5x.png">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Ace your business finances</mat-card-title>
        <div>Manage banking, accounting & everything in between, on one platform</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card5">
      <mat-card-header>
        <img src="/assets/Covid.png">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Loans to fight COVID-19</mat-card-title>
        <div>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</div>
      </mat-card-content>
    </mat-card>
  </span>
</div>