<div class="m1">
  <app-nav-bar></app-nav-bar>
  <div class="main-body">
      <span class="upper-left-half">
          <span class="top-left-side__text">We make it Super Simple</span>
          <span class="top-left-side__videopic"></span>
          <span class="top-left-side__accountingdots"></span>
      </span>
        <span class="upper-right-half">
          <span class="upper-right-half__content">
            <app-emi-calculator></app-emi-calculator>
            <app-side-card></app-side-card>
          </span>
        </span>
  </div>
  <div class="bottom">
    <app-feature-card class="feature"></app-feature-card>
    <span class="bottom-text">
          <span class="bottom-content-title">Boost your business with Open</span>
          <span class="line"></span>
          <span class="bottom-content-desc">Get your hands on a term loan that’s crafted for your business</span>
          <span>
            <button mat-button>Get an Open Account</button>
          </span>
    </span> 
  </div>
</div>