<mat-toolbar class="header">
  <img class="logo" alt="logo" src="/assets/logo.png">
  <span class="nav-bar-links">
    <button mat-button class="nav-bar-links__links">
      Products
    </button>
    <button mat-button class="nav-bar-links__links">
      Solution
    </button>
    <button mat-button class="nav-bar-links__links">
      Pricing
    </button>
    <button mat-button class="nav-bar-links__btnlinks1">
      Login
    </button>
    <button mat-button class="nav-bar-links__btnlinks2">
      Get Started
    </button>
  </span>

</mat-toolbar>